.ep-select-dropdown-extend {
  font-size: 14px;
  font-weight: 400;
  &-prefix {
    border-bottom: 1px solid #ebedf0;
  }
  &-suffix {
    border-top: 1px solid #ebedf0;
  }
  &-content {
    line-height: 34px;
    padding: 0 8px;
    overflow: hidden;
  }
}
