.dd-timeline {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  font-feature-settings: "tnum";
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd-timeline-item {
  position: relative;
  margin: 0;
  padding: 0 0 20px;
  font-size: 14px;
  list-style: none;
}

.dd-timeline-item-tail {
  position: absolute;
  top: 10px;
  left: 4px;
  height: calc(100% - 10px);
  border-left: 2px solid #e8e8e8;
}

.dd-timeline-item-head {
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 100px;
}

.dd-timeline-item-content {
  position: relative;
  top: -6px;
  margin: 0 0 0 18px;
  word-break: break-word;
}

.dd-timeline-item-head-custom {
  position: absolute;
  top: 5.5px;
  left: 5px;
  width: auto;
  height: auto;
  margin-top: 0;
  padding: 3px 1px;
  line-height: 1;
  text-align: center;
  border: 0;
  border-radius: 0;
  transform: translate(-50%, -50%);
}

.dd-timeline.dd-timeline-alternate .dd-timeline-item-head,
.dd-timeline.dd-timeline-right .dd-timeline-item-head {
  margin-left: -4px;
}

.dd-timeline.dd-timeline-alternate .dd-timeline-item-head-custom,
.dd-timeline.dd-timeline-right .dd-timeline-item-head-custom {
  margin-left: 1px;
}

.dd-timeline.dd-timeline-right
  .dd-timeline-item-right
  .dd-timeline-item-head-custom,
.dd-timeline.dd-timeline-right .dd-timeline-item-right .dd-timeline-item-head,
.dd-timeline.dd-timeline-right .dd-timeline-item-right .dd-timeline-item-tail {
  left: calc(100% - 6px);
}

.dd-timeline.dd-timeline-alternate .dd-timeline-item-head-custom,
.dd-timeline.dd-timeline-alternate .dd-timeline-item-tail,
.dd-timeline.dd-timeline-alternate .dd-timeline-item-head {
  left: 50%;
}

.dd-timeline.dd-timeline-alternate
  .dd-timeline-item-left
  .dd-timeline-item-content,
.dd-timeline.dd-timeline-right
  .dd-timeline-item-left
  .dd-timeline-item-content {
  left: calc(50% - 4px);
  width: calc(50% - 14px);
  text-align: left;
}

.dd-timeline.dd-timeline-alternate
  .dd-timeline-item-right
  .dd-timeline-item-content,
.dd-timeline.dd-timeline-right
  .dd-timeline-item-right
  .dd-timeline-item-content {
  width: calc(50% - 12px);
  margin: 0;
  text-align: right;
}

.dd-timeline.dd-timeline-right
  .dd-timeline-item-right
  .dd-timeline-item-content {
  width: calc(100% - 18px);
}

.dd-timeline-normal:last-child > .dd-timeline-item-tail {
  display: none;
}

.dd-timeline .el-loading-spinner {
  font-size: 16px;
  margin-top: -9px;
  margin-left: -1px;
}

.dd-timeline.dd-timeline-pending .dd-timeline-item-last .dd-timeline-item-tail{
  display: block;
  height: calc(100% - 14px);
  border-left: 2px dotted #e8e8e8;
}

.dd-timeline-item-last>.dd-timeline-item-content {
  min-height: 48px;
}

.dd-timeline.dd-timeline-reverse .dd-timeline-item-pending .dd-timeline-item-tail {
  top: 15px;
  display: block;
  height: calc(100% - 15px);
  border-left: 2px dotted #e8e8e8;
}
.dd-timeline.dd-timeline-reverse .dd-timeline-item-pending .dd-timeline-item-content{
  min-height: 48px;
}

.dd-timeline-item-last>.dd-timeline-item-tail {
  display: none;
}

.dd-timeline-item-pending .dd-timeline-item-tail {
  display: none;
}
.dd-timeline.dd-timeline-reverse .dd-timeline-item-last .dd-timeline-item-tail{
  display: none;
}
.dd-timeline-item-head-green {
  color: #52c41a;
  border-color: #52c41a;
}
.dd-timeline-item-head-red {
  color: #f5222d;
  border-color: #f5222d;
}
.dd-timeline-item-head-blue {
  color: #409EFF;
  border-color: #409EFF;
}
.dd-timeline-item-head-gray {
  color: rgba(0,0,0,.25);
  border-color: rgba(0,0,0,.25);
}