
.theme-default-content:not(.custom){
  max-width: none;
}
.page-nav{
  max-width: none;
}
table{
  margin:0
}

.theme-default-content .demo-block .meta{
  background-color: #fff
}

.demo-block pre[class*="language-html"] {
  background-color: #fff
}

.theme-default-content pre code, .theme-default-content pre[class*="language-"] code {
  color: #000
}

.token.punctuation {
  color: #999;
}
.token.boolean, .token.constant, .token.deleted, .token.number, .token.property, .token.symbol, .token.tag{
  color: #f81d22;
}
.language-css .token.string, .style .token.string, .token.attr-name, .token.builtin, .token.char, .token.entity, .token.inserted, .token.operator, .token.selector, .token.string, .token.url{
  color: #0b8235; 
}
.token.atrule, .token.attr-value, .token.keyword{
  color: #008dff; 
}
.theme-default-content .demo-block code {
    white-space: pre;
    font-family: Lucida Console,Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
    font-size: 14px;
}
.demo-block .description code{
  background-color: #e6effb;
  margin: 0 4px;
}


div[class*="language-"] pre, div[class*="language-"] pre[class*="language-"] {
  background-color: #f2f4f5;
}

div[class*="language-html"] pre, div[class*="language-html"] pre[class*="language-html"] {
  background-color: #fff;
}

.el-header, .el-footer {
  background-color: #B3C0D1;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-aside {
  background-color: #D3DCE6;
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
  line-height: 160px;
  padding: 0;
}
.el-drawer__body{
  padding: 20px;
}

.ep-timeline p {
  margin: 0;
}

.bg-blue {
  background: #409eff;
  color: #fff;
}

.text-blue {
  color: #409eff;
}

.bg-green {
  background: #46bd87;
  color: #fff;
}

.text-green {
  color: #46bd87;
}

.text-white {
  color: #ffffff;
}

.border-gray {
  border: 1px solid #ccc;
}

.h-50 {
  height: 50px;
}

// color
.color-wrapper {
  display: flex;
  flex-wrap: wrap;
  .color-group {
    width: 46%;
    margin: 20px 2%;
    .color-header {
      height: 60px;
      line-height: 60px;
      font-size: 24px;
      font-weight: 600;
      padding-left: 10px;
    }
    .color-item {
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      align-item: center;
    }
  }
}